/*global*/

* {
  border: red solid 1px;
}
head {
  font-size: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width: 700px) {
  nav.top-nav {
    display: none
  }
}
ul {
  list-style: none;
}

/*links*/

a:link,
a:visited {
    color: #3d3d3d;
    text-decoration: none;
}
a:hover,
a:active {
    color: #f14848;
}

.footer a {
  color: white;
}
.solutions-inside a:hover {
  color: #f14848;
}
.industry-inside a:hover {
  color: #f14848;
}

/*pics & bg*/

.top-banner {
  background-color: red;
  height: 745px;
  background-image: url("../assets/other/homepage-featured-new-1920x745.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*interactive*/

.interactive {
  background-color: black;
}
.interactive .pedia {
  background-image: url("../assets/services/pedia.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.interactive .participation {
  background-image: url("../assets/services/participation.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.interactive .discovery {
  background-image: url("../assets/services/discovery.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.interactive .commerce {
  background-image: url("../assets/services/commerce.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.interactive .advertising {
  background-image: url("../assets/services/advertising.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.interactive .customize {
  background-image: url("../assets/services/customize.png");
  background-repeat: no-repeat;
  background-position: top right;
}

/*3 middle boxes*/

.solutions-1 {
  display: inline-block;
  background-image: url("../assets/other/home-tv-service-bg1.png"), url("../assets/other/ic_EI_cloud_2_home_page.png");
  background-position: center, center;
}
.solutions-2 {
  display:inline-block;
  background-image: url("../assets/other/home-tv-service-bg2.png"), url("../assets/other/ic-stb-screens.png");
  background-position: center, center;
}
.solutions-3 {
  display: block;
  background-image: url("../assets/other/screen_whos_on.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

/*bottom pdfs*/

.bottom {
  display: inline-block;
  background-color: #f9f9f9;
}
.dl-pdf {
  background-color: #f14848;
  width: 269px;
  height: 300px;
}

/*blog links*/
.blog-links {
  display: block;
}

.blog-links ul li {
  display: inline-block;
  width: 200px;
  height: 500px;
}
.blog-links .ibc2016 {
  background-image: url("../assets/blog/ibc_post_EI-750x508.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.blog-links .tv-connect {
  background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
  background-repeat:no-repeat;
  background-position: 0 0;
}
.blog-links .big-data {
  background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.blog-links .infusion {
  background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.blog-links .emptor {
  background-image: url("../assets/blog/post_quality-750x508.jpeg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*footer*/

.footer {
  background-color: #3d3d3d;
}
.schedule-demo {
   background-image: url("../assets/other/screen_demo.jpg");
   background-repeat: no-repeat;
   background-position: center;
 }
.meeting {
  background-image: url("../assets/other/img-event-IBC.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.legal {
  font-size: small;
  font-weight: 400;
}

/*fonts*/
.top-banner {
  color: white;
}
.top-banner a {
  color: white;
}
.why-comigo {
  color: #3d3d3d;
}
.why-comigo a {
  color: white;
}
.interactive p {
  color: white;
}
.interactive h3 {
  color: white;
}
.capitalized {
  text-transform: uppercase;
}
.interactive ul li a {
  text-transform: uppercase;
  color: #606060;
}
.interactive a:hover {
  color: #f14848;
}
.solutions-1 {
  color: #ffffff;
}
.solutions-1 a {
  color: #f14848;
}
.solutions-2 {
  color: #606060;
}
.solutions-2 a {
  color: #ffffff;
}
.solutions-3 {
  color: #606060;
}
.solutions-3 a {
  color: #ffffff;
}
.dl-pdf a {
  color: #ffffff;
}
.meeting a {
  color: #3d3d3d;
}
.schedule-demo a {
  color: #3d3d3d;
}
.bottom > ul a {
  color: #3d3d3d;
}
.blog-links a {
  color: #ffffff;
}

/*align*/
.top-banner {
  display: block;
  width: 100%;
  height: auto;
}
